<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright contributors to the IBM Security Integrations project -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>SecTestWeb</display-name>
	<distributable />

	<servlet>
		<servlet-name>secTestSSO</servlet-name>
		<jsp-file>/secTestSSO.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>whoami</servlet-name>
		<jsp-file>/whoami.jsp</jsp-file>
	</servlet>

	<security-constraint>
		<display-name>
		AnyAuthenticated</display-name>
		<web-resource-collection>
			<web-resource-name>
				AnyAuthenticatedResources
			</web-resource-name>
			<url-pattern>/whoami.jsp</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<!--auth-constraint>
			<role-name>all</role-name>
		</auth-constraint-->
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secTestSSO</web-resource-name>
			<description/>
			<url-pattern>/secTestSSO.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>developer</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>any</web-resource-name>
			<description/>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description />
			<role-name>developer</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>defaultRealm</realm-name>
	</login-config -->
	<login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Example Form-Based Authentication Area</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
	</login-config>

    <security-role>
    	<role-name>AllUsers</role-name>
     </security-role>
    <security-role>
    	<role-name>developer</role-name>
     </security-role>

	<!--security-role>
		<role-name>www.ibm.com/developer</role-name>
	</security-role-->
</web-app>
